
.CenterPostField {
    padding: 0 27vw; 
    background-color:#ebf0f5; 
    overflow: auto;
    margin-top: 67px;
    bottom: 0;
}

.FirstCenterBlock {
    padding: 2.1rem;
    margin-top: 3.2rem;
    background-color: white;
    border-radius:5px;
    box-shadow: 0 0 7px rgba(144, 142, 142, 0.5);
}

.FirstCenterBlock> :nth-child(1)
{
    display: flex;
    align-items: center;
    
}

.FirstCenterBlock> :nth-child(1) > :nth-child(1)
{
    font-size: 1.5rem;
    margin-right: 1.1rem;
    color: rgb(56, 54, 54);
}

.FirstCenterBlock> :nth-child(2)
{
    margin-top: 2rem;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    color: rgb(90, 87, 87);  
}

.BottomFirstNav1
{
    font-size: 1.25rem;
    display: flex;
    color: rgb(56, 54, 54); 
}

.BottomFirstNav1> :nth-child(2) { 
   margin-left: 0.4rem;
   cursor: pointer;
}

.BottomFirstNav2 {
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    color:rgb(56, 54, 54); 
}

.BottomFirstNav2> :nth-child(2) { 
   margin-left: 0.4rem;
   cursor: pointer;
}

.BottomFirstNav3
{
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    color: rgb(56, 54, 54); 
}

.BottomFirstNav3> :nth-child(2) {
   cursor: pointer;
   margin-left: 0.4rem;
}

input {
    width: 45rem;
    height: 2.5rem;
}

.BottomFirstNav1> :nth-child(1) {
   color: #e43737;
 }

 .BottomFirstNav2> :nth-child(1) {
    color: #4cf363;
 }

 .BottromFirstNav3> :nth-child(1) {
    color: #e43737;
 }
 

.SecondCenterBlock {
    margin: 2rem 0;
    position: static;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius:5px;
    box-shadow: 0 0 7px rgba(144, 142, 142, 0.5);
}

.SecondCenterBlock> :nth-child(1) {
    display:flex;
    margin-top: 1rem;
    color:  rgb(56, 54, 54);
    align-items: center;
   
}
.SecondCenterBlock> :nth-child(1) > :nth-child(1) {
    font-size: 1.5rem;
    margin-right: 0.4rem;
    cursor: pointer;
}
.SecondCenterBlock> :nth-child(1) > :nth-child(2) {
    font-size: 1.1rem;  
    cursor: pointer;
    padding-left: 0.7rem;
    font-size: 1.15rem;
}

.SecondCenterBlock> :nth-child(2) {
    margin-top: 1rem;
    display:flex;
    font-size: 1.23rem;
    color: rgb(56, 54, 54);
}

.SecondCenterBlock> :nth-child(3) {
    margin-top: 2rem;
    display:flex;
    justify-content: space-around;
    align-items: center;  
    
}
.Reaction {
    color:  rgb(56, 54, 54); 
    display: flex;
    font-size: 1.24rem;
    cursor: pointer;
}

.Reaction > :nth-child(1) {
    margin-right:1.4rem;
    
}

.Comment
{
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
}

.Comment> :nth-child(1) > :nth-child(1)
{
    font-size: 1.5rem;
    margin-right: 1.1rem;
    color: rgb(56, 54, 54);
}

#comment{
    background-color: #f1f1f1;
    border: 0;
    outline:none;
    border-radius: 20px;
 }

#comment,textarea {
    max-width: 35vw;
}

#comment[type="text2"]
{
    font-size:1rem;
}